<div class="show-title">
<h1>Redações</h1>
<% if Current.user %>
	<%= link_to "+",new_question_path, class: "button-new-show" %>
	<% else %>
	<h2>(Logue para adicionar redações)</h2>
<% end %>
</div>
<% @question.each do |q| %>
    <div class="questao-show">
		<div class="static-show">
			<h2><%= q.title %></h1>
			<p><%= q.description%></p>
		</div>
		<% if Current.user %>
		<%= link_to "Ler", q, class: "button-show" %>
		<% else %>
		<%= link_to "Saiba mais!", q,  class: "button-show" %>
		<% end %>
	</div>
  <% end %>