<h1>Adicionar nova redação</h1>
<div class="form">
<%= form_with model: @question, url: new_question_path do |f| %>
	<div class="signup-form">
		<div class="row-question">
			<div class="column-field-question">
				<h2>Titulo</h2>
			<%= f.text_field :title, class: 'form-field'%>
			</div>
			<div class="column-field-question">
				<h2>Descrição</h2>
			<%= f.text_field :description, class: 'form-field'%>
			</div>
		</div>
		<div class="field-question">
			<h2>Redação</h2>
			<%= f.text_area :problem, class: 'text-area-question', placeholder: "Use norma culta" %>
		</div>
		<%= f.submit "Enviar", class: "form-button" %>
	</div>
<% end %>
<div class="hints_form">
	<div>
		<h1>Torne-a relevante para outros</h1>
		<p>Gostamos de ajudar o maior número possível de pessoas ao mesmo tempo. Deixe claro de que forma sua redação é relevante para mais pessoas além de você e outros de nós estaremos interessados em sua pergunta e dispostos a examiná-la.
</p>
	</div>
</div>
</div>